{% extends "base.html" %}
{% block title %}Stock-page{% endblock%}
{% block search_bar %}
<h1>Search Item</h1>
<form method="POST">
    {{ search_bar.hidden_tag() }}
    <div class="search-bar">
        {{ search_bar.search_string.label(class='search-bar-label') }}
        {{ search_bar.search_string(class='search-field')}}
        {{ search_bar.submit(class='search-button')}}
    </div>
</form>
{% endblock %}
{% block content %}
<h2>Items for sale</h2>
<table>
    <tr>
        <th>Product id</th>
        <th>Product name</th>
        <th>Area's of service </th>
        <th>Time of service </th>
        <th>Score</th>
    </tr>
    {% for item in items_to_show %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.area_of_service }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}